body
{
    display: flex;
    flex-direction: column;
}

main
{
    display: flex;
     flex-direction: row ;
     flex: auto;
}

article
{
    flex: 2;
    overflow-y: auto;
    align-items: center;
}

aside
{
    flex: 1;
    overflow-y: auto;
    align-items: left;
    margin-left: 20px;
}

header
{
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
    margin-bottom: 20px;
}

.logo 
{
    font-size: 30px;
    font-weight: bold;
}

footer
{
    display: flex ;
    align-items: left;
    margin-top: 20px;
}